body {
    width:auto;
    /*height:auto;*/
}

header, footer {
    background: yellow;
}

.padded {
    padding: 0.5em;
}

#navigation{
    background: dodgerblue;
    width: 20%;
}

#content {
    background: green;
    width: 60%

}

#sidebar{
    background: steelblue;
    width: 20%;
}

.column {
    float: left;
    min-height: 300px;
}

footer {
    clear:left  /* ?? Footer has no top padding without this. */
}
