body {
    width:auto;
    /*height:auto;*/
}

header, footer {
    background: yellow;
}

.padded {
    /*padding: 0.5em;*/
}

.fill {
    margin-bottom: -1000em;
    padding-bottom: 1001em;
}

#row:after{
    clear : both;
    display: block;
    content: "";

}

#row {
    overflow: hidden;
}

#navigation{
    background: dodgerblue;
    width: 20%;
}

#content {
    background: green;
    width: 60%

}

#sidebar{
    background: steelblue;
    width: 20%;
}

.column {
    float: left;
    /*min-height: 300px;*/
}

footer {
    /*clear:left  /!* ?? Footer has no top padding without this. *!/*/
}
