body {
  width: 800px;
  height: 370px;
  border: solid thin black;
}

div {
  /*width: 700px;*/
  padding: 5px;
}

.label1 {
  width: 100px;
  text-align: left;
  float: left;
  font-weight: bold;
}

.textField {
  width: 670px;
}

.dateField {
  width: 150px;
}

.note {
  height: 200px;
}

.commands {
}

button {
  width: 100px;
  float: right;
  margin: 5px;
}

