html {
  background-color: rgb(204, 220, 233);  /* Blue of the area that is not filled with the page */
  font-size: 85%;
}

body {
  background: white;
  width: 959px;
  font-family: sans-serif;
  margin-left: auto;  /* To display the html blue on the left side */
  margin-right: auto; /* To display the html blue on the right side */
}

/* HSR BANNER AND LOGO */

.intro:before {
  background:
    url("../pictures/logo.gif") 10px 0px no-repeat,            /* HSR logo on top             */
    url(../pictures/Header_Bibliothek.jpg) 0px 0px no-repeat;  /*  */
  display: block;
  content: "";
  height: 195px; /* The height of the bibliothek jpg */

  padding-bottom: 10px;
  border-bottom: solid 3px;  /* Thick black line after header. */
}

/* HEADERS */

header {
  text-align: left;
}

h1 {
  background-color: rgb(0, 80, 146);
  color: white;
  padding: 5px 0px 5px 0px;
}

h2 {
  font-size: smaller;
}

h3 {
  color: rgb(0, 80, 146);
}

/* MAIN PARAGRAPHS AND HEADER IN THE MIDDLE */

.summary, .preamble, .main, header  {
  margin-left: 290px;  /* Space for the sidebar */
  width: 470px;
}

.summary, .preamble, .participation, .benefits {
  border-bottom: solid 1px gray;  /* Gray line after paragraphs */
}

/* THE LINKS AT THE LEFT SIDE */

.sidebar {
  position: absolute;
  width: 280px;
  top: 220px;
}

li:first-child {
  border-top: solid 2px;
  border-color: gray;
}

li {
  list-style-image: url("../pictures/NoTriangle.png");
  border-bottom: solid 2px;
  border-color: gray;
  padding: 2px 0px 2px 0px;
}

li:hover {
  list-style-image: url("../pictures/OrangeTriangle.png");
}

ul {
  list-style-position: inside;
  padding:0px;
}

a:link {
  text-decoration: none;
}
a:hover {
  color: orange;
}

a {
  color : rgb(0, 80, 146);
}

/* ZEN RESOURCES: LINK BLOCK AT THE RIGHT SIDE */

.zen-resources {
  position: absolute;
  left: 770px;
  width: 180px;
  top: 0px;
}

.zen-resources li {

  list-style: none;
  background: url("../pictures/BlueTriangle.png") no-repeat right;  /* Blue triangle at the right side */
  background-color: rgb(178, 202, 222);

  font-weight: bold;
  font-size: larger;
  border-width: 0px;
  text-align: left;

  padding: 5px 0px 7px 0px;
  margin: 5px 0px 5px 0px;
}

.zen-resources li:hover {
  background: url("../pictures/OrangeTriangle.png") no-repeat right; /* Orange triangle at the right side */
  background-color: rgb(178, 202, 222);
}

.zen-resources a:hover, .zen-resources a {
  color: black;
}

/* FOOTER */

footer {
  border-top: solid 3px gray; /* Thick gray line before footer. */
  margin-left: -290px;        /* Move footer to the left side (aligned with nav) */
  margin-right: -200px;
  margin-top: 20px;
  text-align: right;
  padding: 20px 0px 10px 0px;
}

footer a:link {
  padding-right: 10px;
  padding-left: 10px;

}

footer:before {
  display: block;
  content: "HSR Hochschule fuer Technik Rapperswil, Oberseestrasse 10, Postfach 1475, CH-8640 Rapperswil";
  float: left;
  font-weight: bold;
  margin-top: -10px;
}

footer a:link:not(:last-child), footer a:link:not(:last-child):visited {
  border-right:2px solid black;  /* Bars between footer links */
}
